:root {
    --bg-color: #123;
    --card-color: #012;
    --projects-color: #223;
    --text-color: #DEF;
    --alt-color: #9AB;
    --accent-color: #17c;
    background-color: #123;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-transform: lowercase;
}

h2 {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

::-moz-selection { /* Code for Firefox */
    background: var(--accent-color);
  }
  
::selection {
    background: var(--accent-color);
}

a {
    color: var(--accent-color)
}

/* .hero {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
} */

.bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.card {
    /* position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); */
    padding: 1.5rem; 
    margin: auto;

    width: clamp(360px, 50%, 600px);

    color: var(--text-color);
    background: var(--card-color);
    border-radius: 1rem;

    display:grid;
    grid-template-rows: 100px, 100px, 100px;
    grid-template-areas:
        "info"
        "skills"
        "projects"
        "footer"
}

.card ul {
    margin: 0;
    padding: 0;
}

/* upper */

.info {
    grid-row: 1;

    display:grid;
    /* grid-auto-columns: 1fr; */
    grid-auto-flow: column;
}

.name {
    grid-column: 1;
    text-align: center;
    margin:auto;
    padding:auto;
}


.contact {
    grid-column: 2;
    display:grid;

}

.socials {
    text-align: center;
    margin:auto;
    padding:auto;
    object-fit: cover;
}

.email {
    text-align: center;
    margin:auto;
    padding:auto;
}

.description {
    grid-column: 2;
    font-size: 1rem;
    text-align: center;
    font-style: italic;
    color: var(--alt-color);
    margin:auto;
    padding:auto;
}

/* lower */

.gallery {
    grid-row: 2;
    display:inline;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .1rem;
    margin: .25rem;
    padding: .25rem;
}

.gallery img {
    width: 100%;
    object-fit: cover;
    opacity: 90%;
}

.gallery video {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    opacity: 90%;
}

.skills {
    grid-row: 2;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    color: var(--alt-color);
    padding: 1rem;
    margin: 1rem;
}

.skills ul {
    list-style:none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -.5rem;
}
.skills li {
    display:block;
    padding: .25rem;
    opacity: .5;

}

.demos {
    grid-row: 3;
    font-size: 1rem;
    text-align: center;
    font-style: italic;
    color: var(--alt-color);
    background: var(--projects-color);
    border-radius: .5rem;
    padding: 1.5rem;
    margin: .5rem;
}

.demo {
    margin: auto;
    padding: .1rem;
}

.demos small {
    display: block;
    opacity: .5;
    padding-bottom: 1rem;
}

.project img {
    width: 20rem;
    height: auto;
    object-fit: contain;
}

.footer {
    grid-row:4;
    color:var(--alt-color);
    opacity: .2;
    font-size:.6rem;
    text-align: center;
    padding:.5rem;
}

